## JVM configuration

################################################################
## IMPORTANT: JVM heap size
################################################################
-Xms1g
-Xmx1g

################################################################
## Expert settings
################################################################
## GC Configuration
14-:-XX:+UseG1GC
14-:-XX:G1ReservePercent=25
14-:-XX:InitiatingHeapOccupancyPercent=30

## JVM temporary directory
-Djava.io.tmpdir=${OPENSEARCH_TMPDIR}

## heap dumps
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/var/lib/opensearch

## JVM fatal error logs
-XX:ErrorFile=/var/log/opensearch/hs_err_pid%p.log

## Network settings
-Djava.net.preferIPv4Stack=true

## Explicitly allow security manager (for Java 17 compatibility)
17-:-Djava.security.manager=allow 