# ======================== OpenSearch配置 =========================

# ------------------------ 集群设置 -----------------------------
cluster.name: {{ opensearch_cluster_name }}

# ------------------------ 节点设置 -----------------------------
node.name: {{ opensearch_node_name }}

# ----------------------- 路径设置 -------------------------------
path.data: {{ opensearch_data_path }}
path.logs: {{ opensearch_logs_path }}

# ----------------------- 网络设置 -------------------------------
network.host: {{ opensearch_network_host }}
http.port: {{ opensearch_http_port }}

# 增加接口超时
http.max_content_length: {{ opensearch_http_max_content_length }}

# ----------------------- 集群发现设置 -------------------------------
discovery.type: {{ opensearch_discovery_type }}

# ----------------------- 内存设置 -------------------------------
# 禁用内存锁定避免错误
bootstrap.memory_lock: false

# ----------------------- 安全设置 -------------------------------
# 显式禁用安全插件和SSL
plugins.security.disabled: true

# ----------------------- 监控设置 -------------------------------
# 禁用性能分析器，避免内存使用过高
plugins.performance_analyzer.enabled: false

# 线程池设置
thread_pool.write.queue_size: {{ opensearch_thread_pool_write_queue_size }}
thread_pool.search.queue_size: {{ opensearch_thread_pool_search_queue_size }}

# 索引设置
action.auto_create_index: {{ opensearch_action_auto_create_index }}

# 添加超时和压缩设置
http.compression: true

# Magento 2目录和产品搜索缓存设置
indices.queries.cache.size: {{ opensearch_indices_queries_cache_size }}
indices.memory.index_buffer_size: {{ opensearch_indices_memory_index_buffer_size }}
indices.fielddata.cache.size: {{ opensearch_indices_fielddata_cache_size }}

# 搜索性能优化
search.max_buckets: {{ opensearch_search_max_buckets }} 